.title {
  font-size: 48px;
}
.profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.r-profile {
  width: 45%;
}
.subtitle {
  font-size: 30px;
  color: #3730a3;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.l-info {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.r-info {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.question {
  font-size: 16px;
  font-weight: bold;
}
.answer {
  font-size: 16px;
}
.content {
  font-size: 18px;
  margin-bottom: 2rem;
  color: #6b7280;
}
